{% extends 'base.html' %}
{% load static %}

{% block main_container %}
    <div class="page-header">
      <h1>Polls</h1>
    </div>
    {% if questions %}

        <div class="list-group">
          {% for question in questions %}
            <a href="{% url 'polls:vote' question.id %}" class="list-group-item">{{ question.question_text }}</a>
          {% endfor %}
        </div>

    {% else %}
        <div class="alert alert-success" role="alert">
            No Polls Available
        </div>
    {% endif %}


{% endblock %}