{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}

{% block title %}Las Vegas Raiders!{% endblock %}
{% block bootstrap3_extra_head %}
<link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <img src="{% static 'images/raiders.svg' %}" alt="Raiders" width="50px" height="50px" class="raiders-image">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Vegas Pirates</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

              {% if request.user.is_authenticated %}
                <li class="{{ profile }}">
                    <a href="{% url 'profile' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ userprofile.username }}
                    </a>
                </li>
              {% endif%}

              <li class="{{ polls }}"><a href="{% url 'polls:index' %}">Polls</a></li>

              {% if request.user.is_staff %}
                <li class="{{ admin }}"><a href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}

              {% if request.user.is_authenticated %}
                 <li class="{{ account_logout }}"><a href="{% url 'account_logout' %}">Sign Out</a></li>
              {% else %}
                 <li class="{{ account_login }}"><a href="{% url 'account_login' %}">Sign In</a></li>
              {% endif%}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    {% block body %}
            {% block main_container %}{% endblock main_container %}
            {% block content %}{% endblock content %}
            {% block extra_body %}{% endblock extra_body %}
    {% endblock body %}
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="http://www.raiders.com">Go Raiders!</a></p>
      </div>
    </footer>



{% endblock %}

