{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}
{% block title %}Las Vegas Raiders!{% endblock %}
{% block bootstrap3_extra_head %}
<style>
    body {
      padding-top: 50px;
    }
    #main {
       position: relative;
    }
    #main:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("{% static 'images/background.jpg' %}");
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        opacity : 0.1;
        z-index: -1;
    }
</style>
{% endblock %}

{% block bootstrap3_content %}

<div id="main">
<!-- main -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Vegas Pirates</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'admin:index' %}">Admin</a></li>
            <li class=""><a href="{% url 'polls:index' %}">Polls</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
    {% block main_container %}{% endblock %}
    </div>

<!-- main -->
</div>

{% endblock %}

